@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik+Doodle+Triangles&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Quick";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 50px;
  /* line-height: 100px; */
}

.footer {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: auto;
  color: #000;
  margin-bottom: 0;
  /* margin-top: 50px; */
  /* border-top: 3px solid black; */
  border-bottom:0;
}

.body-wrapper {
  display: flex;
  width: 65%;
  flex-flow: row wrap;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

.main_container {
  min-width: 75%;
}

.main {
  margin-left: 30px;
  min-height: 280px;
}

.aside-left {
  background-color: whitesmoke;
  /* margin-right: 20px; */
  display: flex;
  flex-direction: column;
  float: left;
  min-width: 25%;
}

.aside-right{
  display: flex;
  float:right;
  width: 40%;
}

.carousel {
  background-image: url("../images/alco.jpg");
  background-size: cover;
  min-height: 500px;
}

.carousel_btns_pos {
  min-height: 30px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  /* max-width: 50%; */
}

.carousel_btn {
  margin-right: 15px;
  background-color: rgb(140, 140, 140);
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  transition-duration: 0.1s;
}

.carousel_btn:hover {
  height: 22px;
  width: 22px;
  border-radius: 11px;
  border: solid;
  border-width: 2px;
  border-color: rgb(0, 81, 255);
}


.image {
  width: 65px;
  height: 65px;
}

.cart {
  float: right;
}

.brand {
  float: left;
}

.brandname {
  display: inline-flex;
  padding-top: 15px;
}
.avatar {
  float: right;
}
a {
  color: #000;
  text-decoration: none;
}

#modal-box {
  background-color: #00eeff;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-right: 0;
  
  float: left;
  width: 180px;
}

#modal-text{
  display: flex;
  font-size: 40px;
}

.modal-btn {
  font-size: 40px;
  /* font-style: bold; */
  height: 100px;
  width: 50%;
  border-radius: 5px;
}
