@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik+Doodle+Triangles&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header, #footer {
  /* position: relative; */
  width: 100%;
  height: 100px;
  text-align: center;
  border-bottom: 3px solid black;
  background:whitesmoke;
  color: #fff;
  line-height: 100px;
  /* margin-bottom: 100px; */
  float: left;
}

#footer {
  margin-top: auto;
  color: #000;
  margin-bottom: 0;
  margin-top: 50px;
  border-top: 3px solid black;
  border-bottom:0 ;
}

.main {
  flex-grow: 1;
}

.cart {
  display: inline-block;
  width: 50px;
  margin: 52px 30px 0 0;
  float: right;
}

.avatar {
  display: inline-block;
  width: 50px;
  float: right;
  margin: 50px 15px 0 0 ;
}

.logo {
  height: 100px;
  color: black;
  float: left;
}

a {
  color: #000;
  text-decoration: none;
}

.brand {
  width: 100px;
  height: auto;
  display: flex;
  float: left;
}

header > h1 {
  float: left;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik Doodle Triangles', system-ui;
}

#modal-box {
  background-color: #00eeff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  width: 40%;
}

img {
  margin-right: 0;
  
  float: left;
  width: 180px;
}

#modal-text{
  display: flex;
  font-size: 40px;
}

.modal-btn {
  font-size: 40px;
  /* font-style: bold; */
  height: 100px;
  width: 50%;
  border-radius: 5px;
}
