@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik+Doodle+Triangles&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header, #footer {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 50px;
  /* line-height: 100px; */
}

#footer {
  margin-top: auto;
  color: #000;
  margin-bottom: 0;
  /* margin-top: 50px; */
  /* border-top: 3px solid black; */
  border-bottom:0 ;
}

.body-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.main_container {
  background-color: whitesmoke;
  /* width: 75%; */
  min-width: 75%;
  /* display: block; */
}

.main {
  min-height: 280px;
  border-style:solid;
  border-width: 3px;
  border-bottom: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.aside-left {
  display: flex;
  flex-direction: column;
  float: left;
  /* flex-direction: column; */
  border-right: none;
  border-left: none;
  float: left;
  min-width: 25%;
}

.aside-right{
  display: flex;
  float:right;
  width: 40%;
}

.up {
  border-top: none;
}

.img {
  width: 50px;
  height: 50px;
}

.avatar {
  /* display: flex; */
  /* position: fixed; */
  /* right: 0; */
  /* display: inline-block; */
  /* width: 50px; */
  float: right;
  /* margin-top: 50px; */
}

.cart {
  /* display: inline-block; */
  display: flex;
  width: 50px;
  margin: 52px 30px 0 0;
  float: right;
  /* min-width: 100%; */
}

.cart {
  /* display: inline-block; */
  display: flex;
  width: 50px;
  margin: 52px 30px 0 0;
  float: right;
  /* min-width: 100%; */
}

a {
  color: #000;
  text-decoration: none;
}

.brand {
  /* width: 50px; */
  /* height: auto; */
  display: flex;
  /* float: left; */
}

header > h1 {
  float: left;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik Doodle Triangles', system-ui;
}

#modal-box {
  background-color: #00eeff;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-right: 0;
  
  float: left;
  width: 180px;
}

#modal-text{
  display: flex;
  font-size: 40px;
}

.modal-btn {
  font-size: 40px;
  /* font-style: bold; */
  height: 100px;
  width: 50%;
  border-radius: 5px;
}
