@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
.title_form {
    color: black;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
}

input{
    color: black;
    height: 45px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    border: 2px solid rgb(165, 165, 165);
}

input:focus{
    outline: none;
    border: 2px solid rgb(95, 95, 95);
}

.register_form{
    max-width: 415px;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgb(146, 146, 146);
    border-radius: 20px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin: 50px 0 0 45%;
    min-width: 300px;
    box-sizing: border-box;

}

.register_form > input {
    margin-bottom: 13px;
    padding-left: 25px;
    box-sizing: border-box;
}

.register_form > textarea {
    margin-bottom: 13px;
    color: black;
    min-height: 45px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    border: 2px solid rgb(165, 165, 165);
    padding-left: 25px;
}

.preview {
height: 200px;
margin-bottom: 13px;
}

.registration_button {
    font-weight: bold;
    display: block;
    width: 100%;
    height: 45px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.registration_button:hover {
    background-color: black;
    color: white;
}