<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="http://localhost:8080/alcohols/check" th:action="@{/alcohols/add-alco}" th:object="${Alcohol}" method="get">
            <table>
                <tr>
                    <td>name:</td>
                    <td><input type="text" th:field="*{name}" /></td>

                </tr>
                <tr>
                    <td>description:</td>
                    <td><input type="text" th:field="*{description}" /></td>
                    
                </tr>
                <tr>
                    <td>price:</td>
                    <td><input type="number" th:field="*{price}" /></td>
                    
                </tr>
                <tr>
                    <td>manufacturer:</td>
                    <td><input type="text" th:field="*{manufacturer}" /></td>
                    
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>