<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <title>Title</title>
</head>
<body>
    <header th:insert="~{blocks/header}"></header>

<!--    <div th:if="${param.error}">-->
<!--        <div class="alert alert-danger">Invalid Email or Password</div>-->
<!--    </div>-->
    <div th:if="${param.logout}">
        <div class="alert alert-success"> You have been logged out.</div>
    </div>

    <div class="body-wrapper">
        <div class="main_container">
            <div class="main">
                <form class="register_form" th:action="@{/users/login}" th:method="POST">
                    <h1 class="title_form">Вход</h1>
                    <input type="text" name="username" id="username" placeholder="Логин">
                    <input type="text" name="password" placeholder="Пароль" id="password">
                        <button type="submit" class="registration_button">Войти</button><br>
                        <button type="button" class="registration_button" onclick="window.location = '/users/registration';">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
    <div id="aside"></div>
    <footer th:insert="~{blocks/footer}"></footer>
    <script th:src="@{/js/login.js}"></script>
</body>
</html>