<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <title>Title</title>
</head>
<body>
    <header th:insert="~{blocks/header}"></header>
    <div class="body-wrapper">
        <div class="main_container">
            <div class="main">
                <form class="register_form">
                    <h1 class="title_form">Вход</h1>
                    <div>
                        <div class="form_fileds">
                            <input type="number" name="phone" id="phone" placeholder="8(000)000-00-00">
                        </div>
                        <div class="form_fileds">
                           <input type="text" placeholder="Пароль" id="password">
                        </div>
                    <button type="button" class="registration_button" onclick="isEverythingOk()">Войти</button><br>
                    </div>
                    <div>
                        <button type="button" class="registration_button" onclick="window.location = '/users/registration';">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="aside"></div>
    <footer th:insert="~{blocks/footer}"></footer>
    <script th:src="@{/js/login.js}"></script>
</body>
</html>