<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div id="header">
        <h1 class="logo"><img class="brand" width="100px" th:src="@{/images/free-icon-beer.png}">Hangover</h1>
        <div><a href="/users/registration"><img class="avatar" th:src="@{/images/free-icon-avatar.png}"></a></div>
        <div><a href="#"><img class="cart" th:src="@{/images/free-icon-shoppingcart.png}"></a></div>
    </div>
    <div id="main"></div>
    <div class="product">
        
    </div>
    <div id="aside"></div>
    <div id="footer"></div>
</body>
</html>