<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="header">
        <h1 class="logo"><img class="brand" width="100px" src="resources/free-icon-beer.png">Hangover</h1>
        <div><a href="google.com"><img class="avatar" src="resources/free-icon-avatar.png"></a></div>
        <div><a href="yandex.ru"><img class="cart" src="resources/free-icon-shoppingcart.png"></a></div>
    </div>
    <div id="main"></div>
    <div class="product">
        
    </div>
    <div id="aside"></div>
    <div id="footer"></div>
</body>
</html>