<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <header th:insert="blocks/header"></header>
    <div id="main"></div>
    <div class="product">
    <footer th:insert="blocks/footer"></footer>    
    </div>
    <div id="aside"></div>
<!-- 
    <dialog class = "center">
        <div id="modal-box">
          <div id="modal-text">Вам исполнилось 18 лет?</div>
          <button id="close-modal-btn" class="modal-btn">Да</button>
          <button onclick="location.href = 'https://www.youtube.com/channel/UCoEl0fhXJDaoH-9rGUvf45w';" id="no-btn"
          class="modal-btn" >Нет</button>
          <img src="/images/stop-cop.png" alt="Изображение" />
        </div>
      </dialog>
    <script src="/js/popup.js"></script> -->
</body>
</html>