<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form from Valya</title>
</head>
<body>
    <form id="main-form" action="/users/registration" method="post">
        <label for="first name">Имя:</label>
        <input type="text" name="first_name" placeholder="Имя" id="first name"><br><br>
        <label for="second name">Фамилия:</label>
        <input type="text" name="second_name" placeholder="Фамилия" id="second name"><br><br>
        <label for="phone">Номер телефона:</label>
        <input type="number" name="phone_number" placeholder="Номер телефона" id="phone"><br><br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" placeholder="Пароль" id="password"><br><br>
        <label for="repass">Проверка пароля:</label>
        <input type="password" name="repass" placeholder="Проверка пароля" id="repass"><br><br>
        <input type="submit" name="submit" value="Готово">
  </form>
</body>
</html>