<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" id="footer">
    <section class="footer">
        <div class="container_footer">
            <div class="footer_col">
                <div class="col">
                    <h4 class="name_developer">Кирилл "Windflaw" Валиков</h4><br>
                    <a href="https://vk.com/windflawkv"><img th:src="@{/images/vk-icon.png}" width="40px"></a>
                    <a href="https://t.me/Windflawkv"><img th:src="@{/images/telega-icon.png}" width="40px"></a>
                    <a href="#"><img th:src="@{/images/inst-icon.png}" width="40px"></a>
                    <a href="https://github.com/Windflawoffical"><img th:src="@{/images/github-icon.png}" width="40px"></a>
                </div>
                <div class="col">
                    <h4 class="name_developer">Денис "DENISUS" Пак</h4><br>
                    <a href="https://vk.com/id244320945"><img th:src="@{/images/vk-icon.png}" width="40px"></a>
                    <a href="https://t.me/d3nisus"><img th:src="@{/images/telega-icon.png}" width="40px"></a>
                    <a href="#"><img th:src="@{/images/inst-icon.png}" width="40px"></a>
                    <a href="https://github.com/d3nisus"><img th:src="@{/images/github-icon.png}" width="40px"></a>
                </div>
                <div class="col">
                    <h4 class="name_developer">Кирилл Гологузов</h4><br>
                    <a href="https://vk.com/id145852799"><img th:src="@{/images/vk-icon.png}" width="40px"></a>
                    <a href="https://t.me/yota_d2"><img th:src="@{/images/telega-icon.png}" width="40px"></a>
                    <a href="#"><img th:src="@{/images/inst-icon.png}" width="40px"></a>
                    <a href="https://github.com/N0XYA"><img th:src="@{/images/github-icon.png}" width="40px"></a>
                </div>
                <div class="col">
                    <h4 class="name_developer">Анатолий "Толянчик" Гарин</h4><br>
                    <a href="https://vk.com/fisting_is_300buckss"><img th:src="@{/images/vk-icon.png}" width="40px"></a>
                    <a href="https://t.me/chfirchko3004"><img th:src="@{/images/telega-icon.png}" width="40px"></a>
                    <a href="#"><img th:src="@{/images/inst-icon.png}" width="40px"></a>
                    <a href="https://github.com/Chfirchko"><img th:src="@{/images/github-icon.png}" width="40px"></a>
                </div>   
            </div>
        </div>
    </section>
</div>