<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">


<div class="underheader">
    <button class="underheader_btn"><a href="/alcohols/wine"><img th:src="@{/images/wine-bottle.png}" alt=""><span>Вино</span></a>
    <button class="underheader_btn"><a href="/alcohols/liquor"><img th:src="@{/images/kahlua.png}" alt=""><span>Ликер</span></a>
    <button class="underheader_btn"><a href="/alcohols/beer"><img th:src="@{/images/beer.png}" alt=""><span>Пиво</span></a>
    <button class="underheader_btn"><a href="/alcohols/vodka"><img th:src="@{/images/vodka.png}" alt=""><span>Водка</span></a>
    <button class="underheader_btn"><a href="/alcohols/whiskey"><img th:src="@{/images/whiskey.png}" alt=""><span>Виски</span></a>
    <button class="underheader_btn"><a href="/alcohols/sparkling"><img th:src="@{/images/champagne.png}" alt=""><span>Игристое</span></a>
</div>